:host {
    gap: 8px;
    display: flex;
    flex-direction: row;
}

input,
button {
    height: 40px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

button {
    gap: 8px;
    border: none;
    display: flex;
    padding: 0 16px;
    color: #ffffff;
    border-radius: 3px;
    flex-direction: row;
    align-items: center;
    transition: all ease-in 0.5s;
    background: linear-gradient(0deg, #8922cc, #f3073d);
}

button:hover {
    opacity: 90%;
}

button:active {
    opacity: 80%;
    transition: none;
    outline: solid 1px #ffffff;
}

button > span:not(.material-symbols-sharp) {
    font-size: 16px;
    font-weight: bold;
}

button > span.material-symbols-sharp {
    font-size: 24px;
}
