:host {
  gap: 8px;
  display: flex;
  flex-direction: row;
}

input, button {
  height: 40px;
  border: none;
  border-radius: 20px;
}

input {
  flex-grow: 1;
  font-size: 16px;
  color: #FFFFFF;
  padding-left: 20px;
  background-color: #3b3b3b;
}

input:focus {
  outline: none;
  caret-color: #FFFFFF;
}

button {
  gap: 8px;
  display: flex;
  padding: 0 16px;
  color: #1b1b1b;
  flex-direction: row;
  align-items: center;
  transition: all ease-in .5s;
  background: linear-gradient(0deg,#8922cc, #f3073d);
}

button:hover {
  opacity: 90%;
  color: #FFFFFF;
}

button:active {
  opacity: 80%;
  transition: none;
  outline: solid 1px #FFFFFF;
}

button > span:not(.material-symbols-sharp) {
  font-size: 16px;
  font-weight: bold;
}

button > span.material-symbols-sharp {
  font-size: 24px;
}
